<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.supplyintegration</package>
	<author>bogui</author>
	<description>
		${project.parent.description}
	</description>

	<activator>org.openmrs.module.supplyintegration.SupplyIntegrationActivator</activator>
	
	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>2.3.2</require_version>
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.supplyintegration.extension.html.AdminList</class>
	</extension>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>

	<require_modules>
		<require_module>org.openmrs.event</require_module>
<!--		<require_module>org.openmrs.module.fhir2</require_module>-->
	</require_modules>
	<!-- AOP
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
	</advice>
	 /AOP -->


	<globalProperty>
		<property>@MODULE_ID@.URL</property>
		<description>URL for the IL</description>
		<defaultValue>https://interoperability-layer-url.link</defaultValue>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.userName</property>
		<description>User name for HTTP Basic Auth with the IL</description>
		<defaultValue>user</defaultValue>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.password</property>
		<description>Password for HTTP Basic Auth with the IL</description>
		<defaultValue></defaultValue>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.openmrsEncounterType.uuid</property>
		<description>Encounter type used to create and link the Drug Order to the encounter</description>
		<defaultValue>encounter type uuid</defaultValue>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.openmrsOtherEncounterType.uuid</property>
		<description>Encounter type used to create and received information to the encounter</description>
		<defaultValue>encounter-type-uuid</defaultValue>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.openmrsOrderType.uuid</property>
		<description>Order type used to create the Drug Order linked to the encounter</description>
		<defaultValue>other-encounter-type-uuid</defaultValue>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.sendOrder.endpoint</property>
		<description>End point to send order to the server</description>
		<defaultValue>/send-order</defaultValue>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.receiveDispensation.endpoint</property>
		<description>End point to receive dispensation</description>
		<defaultValue>/receive-dispensation</defaultValue>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.treatmentEndDate.concept</property>
		<description>The UUID of the concept used for the dispensation treatment end date</description>
		<defaultValue>TED-UUID</defaultValue>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.treatmentRegime.concept</property>
		<description>The UUID of the concept used for the dispensation regime</description>
		<defaultValue>TR-UID</defaultValue>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.treatmentDuration.concept</property>
		<description>The UUID of the concept used for the dispensation treatment duration</description>
		<defaultValue>TD-UID</defaultValue>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.treatmentDate.concept</property>
		<description>The UUID of the concept used for the dispensation treatment date</description>
		<defaultValue>TDT-UID</defaultValue>
	</globalProperty>
	
	
	<!-- Required Privileges 
	<privilege>
		<name>Form Entry</name>
		<description>Allows user to access Form Entry pages/functions</description>
	</privilege>
	 /Required Privileges -->


	<!-- Required Global Properties 
	<globalProperty>
		<property>@MODULE_ID@.someProperty</property>
		<defaultValue></defaultValue>
		<description>
			A description of the global property goes here.  The description
			should explain enough for administrators to understand the purpose
			and possible values for the global property.
		</description>
	</globalProperty>
	/Required Global Properties -->
	
	<!--
	<dwr>
		<allow>
			<create creator="new" javascript="DWRFormEntryService">
				<param name="class" value="org.openmrs.module.@MODULE_ID@.web.DWRFormEntryService"/>
				<include method="enterForm"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import @MODULE_PACKAGE@.web.DWRFormEntryService;
			DWRFormEntryService.enterForm(Integer patientId, Integer formId, boolean useEncounter, List<String> fields);
			]]>
		</signatures>	
	</dwr>
	-->
	
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> 
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
	</servlet>
	-->
	<!-- /Servlets -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>

